[tool.black]
line-length = 88
target-version = ['py311']
include = '\.pyi?$'
extend-exclude = '''
/(
  # directories
  \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | build
  | dist
  | node_modules
)/
'''

[tool.isort]
profile = "black"
multi_line_output = 3
known_first_party = ["src", "tests"]
known_third_party = ["fastapi", "uvicorn", "sqlmodel", "pydantic", "openai", "pytest"]

[tool.flake8]
max-line-length = 88
extend-ignore = ['E203', 'W503']  # Black compatibility
max-complexity = 10
import-order-style = "pycharm"